body {
  background-color: whitesmoke;
  color: navy;
  text-align: center;
}

#appTitle {
  text-align: left !important;
  padding-left: 20px;
}

.top3RankWrap {
  width: 70%;
  background-color: black;
  display: inline-flex;
  align-items: center;
}

.top3RankWrap > * {
  border: 2px solid black;
  background-color: pink;
  /* height: 10%; */
  width: 70%;
  margin: 10px;
  text-align: center;
}

.stockRankingWrap {
  margin: 10px;
  display: block;
  width: 70%;
  background-color: aquamarine;
  display: block;
  justify-self: center;
}

.stock {
  background-color: mistyrose;
  border: 2px solid black;
  height: 50px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  display: flex;
  align-items: center;
  margin: 30px;
  padding: 10px;
}

.stock > * {
  margin: 30px;
}

.stockListContent {
  display: flex;
  align-items: center;
}

.top3RankWrap > *:hover,
.stockRankingWrap > *:hover {
  background-color: skyblue;
}

.stockWordCategoryWrap {
  /* display: flex;
  align-items: center; */
  text-align: center;
}
