@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Nanum+Gothic&display=swap");

body {
  color: white;
}

.stockWordCategoryWrap {
  margin-top: 300px;
  color: #a87e01;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 5%;
  align-items: baseline;
}

.stockWordItem {
  width: 20%;
  white-space: pre-wrap;
}

.stockKeyword {
  margin: 0 3%;
  text-align: right;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 700;
  font-style: normal;
}

.stockKeyword:hover {
  cursor: pointer;
}

.stockWordMean {
  color: white;
  background-color: #5f767a;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}

.stockRankingWrap {
  margin: 10px;
  display: block;
  width: 70%;
  display: block;
  justify-self: center;
}

.stock {
  background-color: #acc196;
  border: 2px solid #a9c985;
  border-radius: 15px;

  height: 50px;

  text-align: center;
  display: flex;
  justify-content: center;

  margin: 30px;
  padding: 10px;
}

.stockListContent > p {
  margin: 40px;
  font-size: 18px;
}

.stockListContent {
  display: flex;
  align-items: center;
  justify-self: center;
}

.top3RankWrap > *:hover,
.stockRankingWrap > *:not(.stockWordCategoryWrap):hover {
  background-color: rgb(251, 246, 237);
  color: #1b7430;
}
