.header {
  z-index: 999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #196c2d;
  background-color: white;
}

#appTitle {
  text-align: left !important;
  padding-left: 5%;
  color: #196c2d;
  font-size: 50px;

  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
}

#appComment {
  text-align: center;
  /* padding-left: 23%; */
  color: #a86201;
  margin: 0;
}

.top3RankWrap {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-bottom: 1%;
}

.top3RankWrap > div.topStock {
  background-color: #80a15b;
  /* height: 0px; */
  width: max-content;
  padding: 0 10px;
  margin: 20px;
  text-align: center;
  border: 2px solid #48a728;
  border-radius: 15px;

  font-weight: 700;
}
